.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 24px bold;
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .errordescript{
        font-size: 12px;
        color: red;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0px;
        width: fit-content;
        label {
          font-size: 18px;
        }
        input {
          margin-top: 4px;
          min-width: 18em;
          height: 33px;
          padding: 0px 10px;
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 15px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
        select{
          margin-top: 4px;
          min-width: 18em;
          height: 33px;
          padding: 0px 10px;
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 0px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
        .password-icon {
          position: relative;
          top: -39px;
          right: -230px;
          cursor: pointer;
          z-index: 1;
        }
      }
    }
  }

  .footer {
    margin-top: 1em;
  }
}
.error{
  border: 1px red;
  border-radius: 4px;
  box-shadow: 0px 0px 12px 0.8px red;
}
