[class~='ant-col'] {
    background: transparent;
    border: 0;
  }
[class~='ant-col'] > Card {
    // display: grid;
    width: 100px;
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
  }