br.brquiz{
    line-height: 1%;
    display: block; 
    content: "";
    margin-top: 0;
}
.listquiz{
    // overflow: hidden;
    margin: auto;
    width: 70%;
    align-content: center;
}
#wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#createquizbotton:hover{
    color: #0075fc96;
    font-size: medium;
    cursor: pointer;
}
.buttonDetail{
    cursor: pointer;
    &:hover {
        color: #0075fc96;
        font-size: medium;
    }
}
.itemquiz{
    overflow: hidden;
}
// .quizes:hover .itemquiz
// {
    
//     background-color: #ffffff;
//     box-shadow: 0px 0px 14px 0.3px #0e81ce96;
//     /*Effects on #nextprayer when .prayers_lower is hovered*/
// }
// .quizes:hover .itemquiz:hover
// {
//     /*Effects on #next_prayer when it is hovered, you must overwrite every style
//     from above rule that should'nt be visible when #next_prayer is hovered*/
// }
.ant-list-item.quizes{
    user-select: none;
}