//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.fixedmenu{
  overflow: hidden;
  // background-color: #333;
  position: sticky;
  top: 0;
}
.cardView{
  display: flex;
  flex-direction: row;
  // resposive kon
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  margin-top: 0;
  padding: 10px 30px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
br.brtigger{
  line-height: 30px;
  // display: block; 
  content: "";
  margin-top: 0;
}
hr.hrtigger{
  color: rgb(99, 99, 100);
  background-color: rgb(99, 99, 100);
  border-color: rgb(99, 99, 100);
}

// .logo {
//   height: 32px;
//   background: rgba(255, 255, 255, 0.2);
//   margin: 16px;
//   padding: 5px 60px;
//   color: white;
// }
// .iconlogo{
//   z-index: 1;
//   // color: white;
// }
.site-layout .site-layout-background {
  background: #fff;
  margin-top: 24px !important;
}
.ant-page-header.fixedheader{
  // overflow: hidden;
  // background-color: #333;
  position: fixed;
  // top: 0;
  width: 100%;
  // z-index: 1;
}

.FirstPage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

//Login Main Container
.login {
  width: 27em;
  height: 34em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}
